
body {
  background-color: #131324ee;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4e0eff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}


.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* 131324 */